
@{
    ViewBag.Title = "Project";
}

<br />
<h2>Gerenciador do Projeto</h2>
<br />
<br />


<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Luz</div>
            <div class="card-body">
                @*<h4 class="card-title">Primary card title</h4>*@
                <p class="card-text">ligue e desligue luzes de sua casa.</p>
                <div class="btn-group"><a class="btn btn-info" style="background-color:gray" href="@Url.Action("Index", "Luz")">Ir</a></div>
            </div>
        </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Agua</div>
                <div class="card-body">
                    @*<h4 class="card-title">Primary card title</h4>*@
                    <p class="card-text">Feche o registro para evitar desperdicios de agua</p>
                    <button type="button" class="btn btn-primary" style="background-color:gray">Ir</button>
                </div>
            </div>
            </div>

            <div class="col-md-4">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">temperatura</div>
                    <div class="card-body">
                        @*<h4 class="card-title">Primary card title</h4>*@
                        <p class="card-text">verifique a temperatura da sua casa.</p>
                        <button type="button" class="btn btn-primary" style="background-color:gray">Ir</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Janelas</div>
                    <div class="card-body">
                        @*<h4 class="card-title">Primary card title</h4>*@
                        <p class="card-text">Abra e feche suas janelas com um click.</p>
                        <button type="button" class="btn btn-primary" style="background-color:gray">Ir</button>
                    </div>
                 </div>
            </div>
            
    </div>
