
@{
    ViewBag.Title = "Projeto Luz";
}
<br />
<h2>Luz</h2>
<br />
<br />

<div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" style="background-color:gray">Quarto 1</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" style="background-color:gray">Quarto 2</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" style="background-color:gray">Cozinha</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" style="background-color:gray">Sala</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" style="background-color:gray">Luz Externa</button>
    </div>
</div>

