<div class="container col-10">
    <div>
        <br />
        <h1 style="position:center">Ω Omega A Casa Inteligente</h1>
        <br />
    </div>
    <p style="position:center">
        Omega é um projeto para resolver seus problemas com tempo. ele resolve seus problemas antes mesmo de vc ficar sabendo. ele automaticamente indentifica o
        problema, procura as pessoas proximas e com melhor preço. assim que ele fizer essa analise, ele manda uma mensagem avisando qual o problema aconteceu e se voce
        quer agendar um horario para solucionar.
        <br />
        <button type="button" class="btn btn-primary" style="background-color:gray">Ler Mais</button>
    </p>

    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Controle sua Casa </div>
                <div class="card-body">
                    <h4 class="card-title">Com o Omega</h4>
                    <p class="card-text">Voce pode controlar sua casa o tempo todo</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Crie Usuarios e de permisoes </div>
                <div class="card-body">
                    <h4 class="card-title">Com o Omega</h4>
                    <p class="card-text">Voce pode criar novos usuarios e dar permisoes especificas para sua casa</p>
                </div>
            </div>
        </div>
    </div>
</div>

